.profile {
    width: 100%;
    margin-bottom: 20px;
}

.profile i {
    color: #3ca9fc;
    padding-right: 5px;
    font-size: 1.2em;
}

.user__page {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    align-content: center;
}


.user__photo figure img{
    width:20%px;
    border-radius: 50%;
}

.profile__info {
    margin-right: 10%;
}

.load-image {
    margin-top: 10px;
}

.profile svg {
    padding: 0 5px;
    font-size: 1.8em;
    color: #3ca9fc;
}

.profile__status {
    display: flex;
    align-items: center;
}
.user__info {
    font-size: 1.1em;
    width: 50%;
}

.user__info span {
    font-weight: 700;
}


.user__info div {
    margin-top: 5px;
}

.user__info h2{
    font-size: 1.8em;
    
}

.contact {
    font-size: 1em;
    margin-left: 20px;
    margin-top: 5px;
}

.editForm div {
    margin: 0;

}

